.main .container-body .row-group .filter-select > input[type='text'] {
    padding-right: 24px
}

.filter-select {
    position: relative;
    display: inline
}

.filter-select > input[type='text'] {
    padding-right: 24px
}

.filter-select input:focus {
    outline-color: #60ba9a
}

.filter-select input::placeholder {
    color: #e0e0e0
}

.filter-select .corner {
    display: none
}

.filter-select i.close {
    display: none;
    position: absolute;
    right: 14px;
    transform: translate(3px, 3px)
}

.filter-select i.arrow {
    position: absolute;
    right: 20px;
    transition: 0.3s transform;
    transform: translate(8px, 5px)
}

.filter-select.opened i.arrow {
    transform: translate(8px, 5px) rotate(180deg)
}

.filter-select.has-data:hover i.close {
    display: inline
}

.filter-select.has-data:hover i.arrow {
    display: none
}

.filter-select[data-mode='create'] i.close {
    display: inline
}

.filter-select[data-mode='create'] i.arrow {
    display: none
}

.filter-select[data-mode='create'] .corner {
    display: flex;
    position: absolute;
    left: 0;
    top: -3px;
    color: #fff;
    border-radius: 6px 0 0 0;
    border: 8px solid #d43114;
    height: 0;
    width: 0;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.filter-select[data-mode='create'] .corner::after {
    content: '+';
    position: absolute;
    left: -8px;
    top: -10px;
    color: #fff
}

.filter-select[disabled] i.close, .filter-select[disabled]:hover i.close {
    display: none
}

.filter-select[disabled] i.arrow, .filter-select[disabled]:hover i.arrow {
    display: none
}

.fri-select-dropdown__item {
    font-size: 14px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer
}

.fri-select-dropdown__item:hover, .fri-select-dropdown__item.hover {
    background-color: #f5f7fa
}

.fri-select-dropdown__item.info {
    text-align: center;
    user-select: none;
    cursor: inherit
}

.fri-select-dropdown__item.info:hover {
    background-color: inherit
}

.fri-select-dropdown__item.selected {
    color: #60ba9a;
    font-weight: 700
}

.fri-select-dropdown__item .fri-select-dropdown__item {
    margin: 8px
}

ul.fri-select-dropdown__list{
    padding: 0;
}
